@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC&display=swap');

.vollkorn-sc {
    font-family: 'Vollkorn SC', serif;
}
.logo {
    width: 125px;
    height: 125px;
}
.navbar-brand-logo {
    height: 50px;
}
.banner {
    background:linear-gradient(rgba(0,0,0, 0.1), rgba(0,0,0, 0)), url(/assets/img/2-5-1024x576.png) center center fixed no-repeat;
    background-size: cover;
    height: 800px;
}
.banner::after {
    position: relative;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    content: '';
    transform: skew(0, -8deg);
    transform-origin: 0 0
}
.nav-item a {
    transition: 0.5s;
}

.navbar-nav li.nav-item a.active {
    background-color: grey;
}
.film-card {
    z-index: -1;
}